{
  "comments": false,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "dynamic-import-node",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ]
      }
    ]
  ]
}
